.checkout-page {
  background-color: #f0f4fc;
  width: 100%;
  min-width: 1440px;
  height: 979px;
  position: relative;
}

.checkout-page .rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 720px;
  height: 979px;
  background-color: #ffffff;
  border-radius: 20px 0px 0px 20px;
}

.checkout-page .text-wrapper {
  position: absolute;
  top: 128px;
  left: calc(50.00% - 660px);
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #0d1a64;
  font-size: 24px;
  letter-spacing: -0.48px;
  line-height: 47px;
  white-space: nowrap;
}

.checkout-page .div {
  position: absolute;
  top: 128px;
  left: calc(50.00% + 60px);
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #0d1a64;
  font-size: 24px;
  letter-spacing: -0.48px;
  line-height: 47px;
  white-space: nowrap;
}

.checkout-page .logo-morado {
  position: absolute;
  top: 24px;
  left: 60px;
  width: 230px;
  height: 40px;
}

.checkout-page .text-wrapper-2 {
  position: absolute;
  top: 32px;
  left: 1217px;
  font-family: "DM Sans", Helvetica;
  font-weight: 500;
  color: #01010199;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.32px;
  line-height: 24.0px;
  white-space: nowrap;
}

.checkout-page .rectangle-2 {
  position: absolute;
  top: 26px;
  left: 1284px;
  width: 96px;
  height: 36px;
  background-color: #7b91ff;
  border-radius: 15px;
}

.checkout-page .text-wrapper-3 {
  position: absolute;
  top: 32px;
  left: 1305px;
  font-family: "DM Sans", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.32px;
  line-height: 24.0px;
  white-space: nowrap;
}

.checkout-page .group {
  position: absolute;
  top: 724px;
  left: calc(50.00% + 60px);
  width: 602px;
  height: 160px;
}

.checkout-page .vuesax-linear-arrow-wrapper {
  position: absolute;
  top: 93px;
  left: 0;
  width: 45px;
  height: 45px;
  display: flex;
  background-color: #1b50bc;
  border-radius: 22.5px;
}

.checkout-page .vuesax-linear-arrow {
  margin-top: 12.5px;
  width: 20.66px;
  height: 20.66px;
  margin-left: 11.1px;
}

.checkout-page .group-2 {
  position: absolute;
  top: 93px;
  left: 555px;
  width: 45px;
  height: 45px;
}

.checkout-page .ellipse {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 45px;
  height: 45px;
  background-color: #1b50bc;
  border-radius: 22.5px;
  transform: rotate(-180.00deg);
}

.checkout-page .img {
  position: absolute;
  top: 12px;
  left: 13px;
  width: 21px;
  height: 21px;
}

.checkout-page .text-wrapper-4 {
  position: absolute;
  top: 0;
  left: calc(50.00% - 301px);
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #0d1a64;
  font-size: 24px;
  letter-spacing: -0.48px;
  line-height: 47px;
  white-space: nowrap;
}

.checkout-page .frame {
  position: absolute;
  top: 71px;
  left: 69px;
  width: 462px;
  height: 89px;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid;
  border-color: #dfeaff;
}

.checkout-page .group-3 {
  margin-top: 16px;
  width: 1501px;
  height: 57px;
  margin-left: -486px;
  position: relative;
}

.checkout-page .rectangle-3 {
  position: absolute;
  top: 0;
  left: 500px;
  width: 110px;
  height: 57px;
  background-color: #dfeaff80;
  border-radius: 10px;
}

.checkout-page .group-4 {
  position: absolute;
  width: 5.48%;
  height: 43.86%;
  top: 28.07%;
  left: 34.49%;
}

.checkout-page .group-5 {
  position: absolute;
  top: 0;
  left: 625px;
  width: 110px;
  height: 57px;
  background-color: #dfeaff80;
  border-radius: 10px;
}

.checkout-page .element-american {
  position: absolute;
  top: 10px;
  left: 641px;
  width: 78px;
  height: 37px;
}

.checkout-page .group-6 {
  position: absolute;
  top: 0;
  left: 750px;
  width: 110px;
  height: 57px;
  background-color: #1b50bc;
  border-radius: 10px;
  box-shadow: 0px 2px 7.8px #00000040;
}

.checkout-page .element-card-master {
  position: absolute;
  top: 10px;
  left: 775px;
  width: 60px;
  height: 37px;
}

.checkout-page .group-7 {
  position: absolute;
  top: 0;
  left: 875px;
  width: 110px;
  height: 57px;
  background-color: #dfeaff80;
  border-radius: 10px;
}

.checkout-page .element-finance {
  position: absolute;
  top: 16px;
  left: 891px;
  width: 57px;
  height: 25px;
}

.checkout-page .group-8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 57px;
  background-color: #dfeaff80;
  border-radius: 10px;
}

.checkout-page .tarjeta-codensa {
  position: absolute;
  top: 13px;
  left: 25px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.28px;
  line-height: 16px;
}

.checkout-page .group-9 {
  position: absolute;
  top: 0;
  left: 125px;
  width: 110px;
  height: 57px;
  background-color: #dfeaff80;
  border-radius: 10px;
}

.checkout-page .text-wrapper-5 {
  position: absolute;
  top: 21px;
  left: 143px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.28px;
  line-height: 16px;
  white-space: nowrap;
}

.checkout-page .group-10 {
  position: absolute;
  top: 0;
  left: 1125px;
  width: 110px;
  height: 57px;
  background-color: #dfeaff80;
  border-radius: 10px;
}

.checkout-page .text-wrapper-6 {
  position: absolute;
  top: 21px;
  left: 1158px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.28px;
  line-height: 16px;
  white-space: nowrap;
}

.checkout-page .group-11 {
  position: absolute;
  top: 0;
  left: 1000px;
  width: 110px;
  height: 57px;
  background-color: #dfeaff80;
  border-radius: 10px;
}

.checkout-page .text-wrapper-7 {
  position: absolute;
  top: 21px;
  left: 1033px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.28px;
  line-height: 16px;
  white-space: nowrap;
}

.checkout-page .group-12 {
  position: absolute;
  top: 0;
  left: 250px;
  width: 110px;
  height: 57px;
  background-color: #dfeaff80;
  border-radius: 10px;
}

.checkout-page .text-wrapper-8 {
  position: absolute;
  top: 21px;
  left: 273px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.28px;
  line-height: 16px;
  white-space: nowrap;
}

.checkout-page .group-13 {
  position: absolute;
  top: 0;
  left: 1250px;
  width: 110px;
  height: 57px;
  background-color: #dfeaff80;
  border-radius: 10px;
}

.checkout-page .text-wrapper-9 {
  position: absolute;
  top: 21px;
  left: 1287px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.28px;
  line-height: 16px;
  white-space: nowrap;
}

.checkout-page .group-14 {
  position: absolute;
  top: 0;
  left: 375px;
  width: 110px;
  height: 57px;
  background-color: #dfeaff80;
  border-radius: 10px;
}

.checkout-page .text-wrapper-10 {
  position: absolute;
  top: 21px;
  left: 408px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.28px;
  line-height: 16px;
  white-space: nowrap;
}

.checkout-page .group-15 {
  position: absolute;
  top: 0;
  left: 1375px;
  width: 110px;
  height: 57px;
  background-color: #dfeaff80;
  border-radius: 10px;
}

.checkout-page .text-wrapper-11 {
  position: absolute;
  top: 21px;
  left: 1417px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.28px;
  line-height: 16px;
  white-space: nowrap;
}

.checkout-page .line {
  position: absolute;
  top: 370px;
  left: 780px;
  width: 600px;
  height: 1px;
  object-fit: cover;
}

.checkout-page .text-wrapper-12 {
  position: absolute;
  top: 391px;
  left: 780px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: -0.40px;
  line-height: 19px;
  white-space: nowrap;
}

.checkout-page .text-wrapper-13 {
  position: absolute;
  top: 195px;
  left: 780px;
  font-family: "DM Sans", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: -0.40px;
  line-height: 19px;
  white-space: nowrap;
}

.checkout-page .text-wrapper-14 {
  position: absolute;
  top: 234px;
  left: 780px;
  font-family: "DM Sans", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: -0.40px;
  line-height: 19px;
  white-space: nowrap;
}

.checkout-page .text-wrapper-15 {
  position: absolute;
  top: 273px;
  left: 780px;
  font-family: "DM Sans", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: -0.40px;
  line-height: 19px;
  white-space: nowrap;
}

.checkout-page .text-wrapper-16 {
  position: absolute;
  top: 312px;
  left: 780px;
  font-family: "DM Sans", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: -0.40px;
  line-height: 19px;
  white-space: nowrap;
}

.checkout-page .text-wrapper-17 {
  position: absolute;
  top: 391px;
  left: 1341px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: right;
  letter-spacing: -0.40px;
  line-height: 19px;
  white-space: nowrap;
}

.checkout-page .text-wrapper-18 {
  position: absolute;
  top: 195px;
  left: 1367px;
  font-family: "DM Sans", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: right;
  letter-spacing: -0.40px;
  line-height: 19px;
  white-space: nowrap;
}

.checkout-page .text-wrapper-19 {
  top: 234px;
  left: 1313px;
  font-weight: 500;
  position: absolute;
  font-family: "DM Sans", Helvetica;
  color: #000000;
  font-size: 20px;
  text-align: right;
  letter-spacing: -0.40px;
  line-height: 19px;
  white-space: nowrap;
}

.checkout-page .text-wrapper-20 {
  top: 273px;
  left: 1325px;
  font-weight: 500;
  position: absolute;
  font-family: "DM Sans", Helvetica;
  color: #000000;
  font-size: 20px;
  text-align: right;
  letter-spacing: -0.40px;
  line-height: 19px;
  white-space: nowrap;
}

.checkout-page .text-wrapper-21 {
  top: 312px;
  left: 1325px;
  font-weight: 500;
  position: absolute;
  font-family: "DM Sans", Helvetica;
  color: #000000;
  font-size: 20px;
  text-align: right;
  letter-spacing: -0.40px;
  line-height: 19px;
  white-space: nowrap;
}

.checkout-page .group-16 {
  position: absolute;
  width: 15.14%;
  height: 5.57%;
  top: 59.28%;
  left: 67.50%;
}

.checkout-page .rectangle-4 {
  position: absolute;
  width: 99.08%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #1b50bc;
  border-radius: 15px;
}

.checkout-page .text-wrapper-22 {
  position: absolute;
  top: 18px;
  left: 53px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: -0.40px;
  line-height: 19px;
  white-space: nowrap;
}

.checkout-page .group-17 {
  position: absolute;
  width: 8.33%;
  height: 5.57%;
  top: 45.90%;
  left: 87.64%;
}

.checkout-page .rectangle-5 {
  position: absolute;
  width: 98.33%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #1b50bcbf;
  border-radius: 15px;
}

.checkout-page .text-wrapper-23 {
  position: absolute;
  top: 18px;
  left: 34px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 19px;
  white-space: nowrap;
}

.checkout-page .group-18 {
  position: absolute;
  width: 32.50%;
  height: 5.57%;
  top: 45.90%;
  left: 54.17%;
}

.checkout-page .rectangle-6 {
  position: absolute;
  width: 99.57%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 15px;
  border: 1px solid;
  border-color: #00000054;
}

.checkout-page .text-wrapper-24 {
  position: absolute;
  top: 18px;
  left: 16px;
  font-family: "DM Sans", Helvetica;
  font-weight: 400;
  color: #00000070;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 19px;
  white-space: nowrap;
}

.checkout-page .rectangle-7 {
  position: absolute;
  top: 195px;
  left: 60px;
  width: 600px;
  height: 161px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid;
  border-color: #2b36741a;
}

.checkout-page .rectangle-8 {
  position: absolute;
  top: 376px;
  left: 60px;
  width: 600px;
  height: 161px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid;
  border-color: #2b36741a;
}

.checkout-page .rectangle-9 {
  position: absolute;
  top: 557px;
  left: 60px;
  width: 600px;
  height: 161px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid;
  border-color: #2b36741a;
}

.checkout-page .rectangle-10 {
  position: absolute;
  top: 738px;
  left: 60px;
  width: 600px;
  height: 161px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid;
  border-color: #2b36741a;
}

.checkout-page .rectangle-11 {
  position: absolute;
  top: 215px;
  left: 76px;
  width: 121px;
  height: 121px;
  object-fit: cover;
}

.checkout-page .p {
  position: absolute;
  top: 215px;
  left: 213px;
  width: 275px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #2b3674;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 28px;
}

.checkout-page .star {
  top: 219px;
  position: absolute;
  left: 600px;
  width: 18px;
  height: 17px;
}

.checkout-page .text-wrapper-25 {
  position: absolute;
  top: 219px;
  left: 623px;
  font-family: "DM Sans", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 19px;
  white-space: nowrap;
}

.checkout-page .text-wrapper-26 {
  top: 317px;
  left: 613px;
  font-weight: 700;
  position: absolute;
  font-family: "DM Sans", Helvetica;
  color: #000000;
  font-size: 20px;
  text-align: right;
  letter-spacing: -0.40px;
  line-height: 19px;
  white-space: nowrap;
}

.checkout-page .rectangle-12 {
  position: absolute;
  top: 396px;
  left: 76px;
  width: 121px;
  height: 121px;
  object-fit: cover;
}

.checkout-page .rectangle-13 {
  position: absolute;
  top: 577px;
  left: 76px;
  width: 121px;
  height: 121px;
  object-fit: cover;
}

.checkout-page .rectangle-14 {
  position: absolute;
  top: 758px;
  left: 76px;
  width: 121px;
  height: 121px;
  object-fit: cover;
}

.checkout-page .text-wrapper-27 {
  position: absolute;
  top: 396px;
  left: 213px;
  width: 275px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #2b3674;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 28px;
}

.checkout-page .text-wrapper-28 {
  position: absolute;
  top: 577px;
  left: 213px;
  width: 275px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #2b3674;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 28px;
}

.checkout-page .text-wrapper-29 {
  position: absolute;
  top: 758px;
  left: 213px;
  width: 275px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #2b3674;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 28px;
}

.checkout-page .star-2 {
  position: absolute;
  top: 400px;
  left: 600px;
  width: 18px;
  height: 17px;
}

.checkout-page .star-3 {
  top: 581px;
  position: absolute;
  left: 600px;
  width: 18px;
  height: 17px;
}

.checkout-page .star-4 {
  top: 762px;
  position: absolute;
  left: 600px;
  width: 18px;
  height: 17px;
}

.checkout-page .text-wrapper-30 {
  top: 400px;
  left: 623px;
  font-weight: 500;
  color: #000000;
  position: absolute;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 19px;
  white-space: nowrap;
}

.checkout-page .text-wrapper-31 {
  top: 581px;
  left: 623px;
  font-weight: 500;
  color: #000000;
  position: absolute;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 19px;
  white-space: nowrap;
}

.checkout-page .text-wrapper-32 {
  top: 762px;
  left: 623px;
  font-weight: 500;
  color: #000000;
  position: absolute;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 19px;
  white-space: nowrap;
}

.checkout-page .text-wrapper-33 {
  top: 498px;
  left: 613px;
  font-weight: 700;
  position: absolute;
  font-family: "DM Sans", Helvetica;
  color: #000000;
  font-size: 20px;
  text-align: right;
  letter-spacing: -0.40px;
  line-height: 19px;
  white-space: nowrap;
}

.checkout-page .text-wrapper-34 {
  top: 679px;
  left: 613px;
  font-weight: 700;
  position: absolute;
  font-family: "DM Sans", Helvetica;
  color: #000000;
  font-size: 20px;
  text-align: right;
  letter-spacing: -0.40px;
  line-height: 19px;
  white-space: nowrap;
}

.checkout-page .text-wrapper-35 {
  top: 860px;
  left: 613px;
  font-weight: 700;
  position: absolute;
  font-family: "DM Sans", Helvetica;
  color: #000000;
  font-size: 20px;
  text-align: right;
  letter-spacing: -0.40px;
  line-height: 19px;
  white-space: nowrap;
}

.checkout-page .group-19 {
  position: absolute;
  top: 309px;
  left: 213px;
  width: 124px;
  height: 28px;
}

.checkout-page .rectangle-15 {
  position: absolute;
  top: 4px;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: #7b91ff80;
  border-radius: 4px;
}

.checkout-page .rectangle-16 {
  position: absolute;
  top: 4px;
  left: 54px;
  width: 24px;
  height: 24px;
  background-color: #7b91ff;
  border-radius: 4px;
}

.checkout-page .text-wrapper-36 {
  position: absolute;
  top: 6px;
  left: 36px;
  font-family: "DM Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 19px;
  white-space: nowrap;
}

.checkout-page .text-wrapper-37 {
  position: absolute;
  top: 0;
  left: 6px;
  font-family: "DM Sans", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 19px;
  white-space: nowrap;
}

.checkout-page .text-wrapper-38 {
  top: 6px;
  left: 61px;
  font-weight: 600;
  color: #ffffff;
  position: absolute;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 19px;
  white-space: nowrap;
}

.checkout-page .element-delete-icon {
  position: absolute;
  top: 6px;
  left: 102px;
  width: 16px;
  height: 20px;
}

.checkout-page .group-20 {
  position: absolute;
  top: 489px;
  left: 213px;
  width: 124px;
  height: 28px;
}

.checkout-page .group-21 {
  position: absolute;
  top: 670px;
  left: 213px;
  width: 124px;
  height: 28px;
}

.checkout-page .group-22 {
  position: absolute;
  top: 851px;
  left: 213px;
  width: 124px;
  height: 28px;
}

.checkout-page .navbar {
  position: absolute;
  top: 32px;
  left: 399px;
  width: 650px;
  height: 24px;
  display: flex;
}

.checkout-page .text-wrapper-39 {
  width: 56px;
  height: 24px;
  font-family: "DM Sans", Helvetica;
  font-weight: 600;
  color: #2b3674cc;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.32px;
  line-height: 24.0px;
  white-space: nowrap;
}

.checkout-page .group-23 {
  width: 116px;
  margin-left: 60px;
  display: flex;
  gap: 4px;
}

.checkout-page .text-wrapper-40 {
  width: 94px;
  height: 24px;
  font-family: "DM Sans", Helvetica;
  font-weight: 600;
  color: #2b3674cc;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.32px;
  line-height: 24.0px;
  white-space: nowrap;
}

.checkout-page .vuesax-linear-arrow-2 {
  margin-top: 4px;
  width: 16px;
  height: 16px;
}

.checkout-page .text-wrapper-41 {
  width: 78px;
  height: 24px;
  margin-left: 58px;
  font-family: "DM Sans", Helvetica;
  font-weight: 600;
  color: #2b3674cc;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.32px;
  line-height: 24.0px;
  white-space: nowrap;
}

.checkout-page .text-wrapper-42 {
  width: 91px;
  height: 24px;
  margin-left: 60px;
  font-family: "DM Sans", Helvetica;
  font-weight: 600;
  color: #2b3674cc;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.32px;
  line-height: 24.0px;
  white-space: nowrap;
}

.checkout-page .text-wrapper-43 {
  width: 63px;
  height: 24px;
  margin-left: 60px;
  font-family: "DM Sans", Helvetica;
  font-weight: 600;
  color: #2b3674cc;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.32px;
  line-height: 24.0px;
  white-space: nowrap;
}

.checkout-page .group-24 {
  position: fixed;
  top: 836px;
  left: 1259px;
  width: 76px;
  height: 76px;
}

.checkout-page .group-25 {
  position: fixed;
  top: 836px;
  left: 1341px;
  width: 76px;
  height: 76px;
}

